<h1> Teams List </h1>
<% unless @teams.empty? %>
	<div class="box">
		<% for i in 0..1 %>
			<div class="group">
				<% for j in 0..8 %>
					<% if j == 0 %>
						<div class="legend">
							<div class="country">Команда</div>
							<div class="i">И</div>
							<div class="v">В</div>
							<div class="vo">ВО</div>
							<div class="po">ПО</div>
							<div class="p">П</div>
							<div class="gz">ГЗ</div>
							<div class="gp">ГП</div>
							<div class="rg">РГ</div>
							<div class="o">О</div>
						</div> 
					<% else %>
						<div class="team <%="t#{j}"%>">
							<div class="name country"><%= @teams.find(j+8*i).name %></div>
							<div class="i"></div>
							<div class="v"></div>
							<div class="vo"></div>
							<div class="po"></div>
							<div class="p"></div>
							<div class="gz"></div>
							<div class="gp"></div>
							<div class="rg"></div>
							<div class="o"></div>
						</div>
					<%end%>
				<% end %>
			</div>
		<% end %>
	</div>
<% else %>
   <p>There are no teams</p>
<% end %> 

<% unless @games.empty? %>
	<div class="box2">
	 	<% for i in 0..1 %>
	 		<div class="matches">
	 			<% for j in 1..28 %>
	 				<div class="match m<%="#{j}"%>">
	 					<div class="flag1"></div>
	 					<div class="team1"><%= @games.find(j+28*i).teams[0].name %></div>
	 					<div class="inf">
	 						<div class="date"><%= @games.find(j+28*i).date %></div>
	 						<div class="time"></div>
	 						<div class="arena"><%= @games.find(j+28*i).place %></div>
	 					</div>
	 					<div class="team2"><%= @games.find(j+28*i).teams[1].name %></div>
	 					<div class="flag2"></div>
	 				</div>
	 			<% end %>
	 		</div>
	 	<% end %>
	 </div>
<% else %>
   <p>There are no games</p>
<% end %> 

